{% extends 'base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}

{% block login_css %}
<link rel="stylesheet" href="{% static 'css/landing.css'  %}">
{% endblock %}

{% block login_js %}
<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row align-items-center min-vh-100">
    <div class="col-12 col-md-6 device">
        <img src="{% static 'img/709shots_so.png' %}" alt="" />
    </div>
    <div class="col-12 col-md-4 align-self-center slogan">
        <div class="card text-center p-4">
            {% if form.non_field_errors %}
                <div class="alert alert-danger mt-4">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}
                    
                    <div class="mb-3">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="text-danger small">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                {% endfor %}

                <button class="btn-pr" type="submit">Ingresar</button>
            </form>
            <a href="{% url 'register' %}">Si no estas registrado, registrese aquí.</a>
        </div>
    </div>
    <div class="diagonal"></div>
</div>
{% endblock %}