{% extends 'base.html' %}
{% block title %}Transferencia{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-11 col-md-6 carding text-center">
        <h1>Transferencia</h1>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <div class="mb-3">
                <label>Cuenta origen</label>
                {{ form.source_account }}
            </div>

            <div class="mb-3">
                <label>Cuenta destino</label>
                {{ form.destination_account }}
            </div>

            <div class="mb-3">
                <label>Monto</label>
                {{ form.amount }}
            </div>

            <div class="mb-3">
                <label>Mensaje</label>
                {{ form.description }}
            </div>

            <button type="submit" class="btn-pr2 w-100">Transferir</button>
        </form>
    </div>
</div>
{% endblock %}